<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- Cấu hình cho SteamCmdService -->
		<add key="ServicePort" value="61188" />
		<add key="EncryptionKey" value="yourEncryptionKey123!@#" />
		<add key="LogsDirectory" value="logs" />
		<add key="ProfilesDirectory" value="Profiles" />
		<add key="MaxLogSize" value="5242880" />
		<!-- 5MB -->
		<add key="LogRetentionDays" value="7" />
		<add key="MaxConcurrentConnections" value="5" />
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="FileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="steamcmd_service_trace.log" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>